<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Обсерватория ЧувГУ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        .container {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Обсерватория ЧувГУ</span>
        </a>

        <ul class="nav nav-pills">

            <li class="nav-item"><a href="catalogue" class="nav-link">Каталог</a></li>
            <li class="nav-item"><a href="about" class="nav-link active" aria-current="page">О нас</a></li>
            <li class="nav-item"><a href="phone" class="nav-link">Контактная информация</a></li>

        </ul>
    </header>
</div>

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Путь к звездам<span class="text-body-secondary">.</span></h2>
            <p class="lead">Обсерватория является одним из важных подразделений нашего университета. Она была создана в честь знаменитого ученого и педагога И.Н. Ульянова и носит его имя. Наша миссия состоит в проведении исследований, наблюдении и организации образовательных мероприятий, связанных с изучением Вселенной и астрономическими явлениями. Мы активно используем современные технологии и методики для достижения этих целей.</p>
        </div>
    </div>

    <div class="row1 featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Ждем тебя<span class="text-body-secondary">.</span></h2>
            <p class="lead">Вы можете узнать о истории нашей обсерватории, об используемом нами оборудовании, о наших научных исследованиях и достигнутых результатах, а также о наших планах на будущее на нашем сайте. Мы всегда готовы к сотрудничеству и участию в совместных проектах с другими научными организациями. Так же, мы проводим мастер-классы и  показываем научные фильмы о космосе. Будем рады видеть вас на нашей обсерватории, где вы сможете узнать много нового о космических исследованиях и задать интересующие вас вопросы.</p>
        </div>
    </div>

    <div class="row2 featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Мы создаем будущее вмесет<span class="text-body-secondary">.</span></h2>
            <p class="lead">Присоединяйтесь к нам в изучении Вселенной и знакомьтесь с астрономическими явлениями вместе с обсерваторией ЧувГУ!.</p>
        </div>
    </div>

    <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2023 ЧГУ им. И.Н. Ульянова. </p>
  </footer>